<script>
	if (window.location.hash === '#onboarding') {
		window.location.href = '/programs/col/onboarding';
	}
</script>
<div class="d-flex container">
	{% include 'breadcrumbs.twig' %}
</div>
<div class="container mt-4 mb-4">
	{% set title = course.title %}
	{% set description = course.description %}
	{% set splash = course.splash %}
	{% if splash is not null %}
		{% include 'generic-splash.twig' %}
	{% else %}
		{% include 'landing-banner.twig' %}
	{% endif %}
	<div class="container">
		<h5 id="modules">Program Modules</h5>
	</div>
	<div class="d-flex flex-wrap justify-content-center align-content-center pt-2">
		{% for card in moduleData %}
			{% include 'generic-program-module-card.twig' %}
		{% endfor %}
	</div>
</div>
