<script>
	if (window.location.hash === '#onboarding') {
		window.location.href = '/programs/col/onboarding';
	}
</script>
<div class="d-flex container">
	{% include 'breadcrumbs.twig' %}
</div>
<div class="container mt-4 mb-4">
	{% set title = course.title %}
	{% set description = course.description %}
	{% set splash = course.splash %}
	{% set cardtype = course.cardtype %}
	{% set cardtabs = course.cardtabs %}
	{% if splash is not null %}
		{% include 'generic-splash.twig' %}
	{% else %}
		{% include 'landing-banner.twig' %}
	{% endif %}
	{% if cardtype == "small" %}
		{% if cardtabs %}
			<div class="container">
				<h5 id="modules">Program Modules</h5>
			</div>
			{# Process all cards initially to save time later #}
			{% set asyncs = [] %}
			{% set syncs = [] %}
			{% for card in moduleData %}
				{% if card.moduletype == "sync" %}
					{% set syncs = syncs|merge([card]) %}
				{% elseif card.moduletype == "async" %}
					{% set asyncs = asyncs|merge([card]) %}
				{% endif %}
			{% endfor %}
			<ul class="nav nav-tabs mb-3" id="tab0" role="tablist">
				{% if syncs %}
				<li class="nav-item" role="presentation">
					<button
							class="nav-link active"
							id="inperson-tab"
							data-mdb-toggle="tab"
							data-mdb-target="#inperson"
							type="button"
							role="tab"
							aria-controls="inperson"
							aria-selected="true"
					>
						<i class="fas fa-users" aria-hidden="true"></i> With Others <span id="sync-number" class="badge badge-tab">{{ syncs|length }}</span>
					</button>
				</li>
				{% endif %}
				{% if asyncs %}
				<li class="nav-item" role="presentation">
					<button
							class="nav-link"
							id="async-tab"
							data-mdb-toggle="tab"
							data-mdb-target="#async"
							type="button"
							role="tab"
							aria-controls="async-tab"
							aria-selected="false"
					>
						<i class="fa fa-desktop pe-1" aria-hidden="true"></i> At-Your-Own-Pace <span class="badge badge-tab">{{ asyncs|length }}</span>
					</button>
				</li>
				{% endif %}
			</ul>

			<div class="tab-content">
				<div id="inperson" role="tabpanel" aria-labelledby="inperson-tab" class="tab-pane fade show active">
					<div class="container d-flex">
						<div class="form-check ms-md-auto">
							<input class="form-check-input" type="checkbox" value="" id="filterbox" onchange="filterSessions(this);" />
							<label class="form-check-label" for="filterbox">Hide sessions without upcoming dates</label>
						</div>
					</div>
					<div class="d-flex flex-wrap align-content-center pt-2 ">
					{% for card in syncs %}
						{% include 'generic-program-module-card-small.twig' %}
					{% endfor %}
					</div>
				</div>
				<div id="async" role="tabpanel" aria-labelledby="async-tab" class="tab-pane fade">
					<div class="d-flex flex-wrap align-content-center pt-2">
					{% for card in asyncs %}
						{% include 'generic-program-module-card-small.twig' %}
					{% endfor %}
					</div>
				</div>
			</div>
		{% else %}
			{# Small card with no tabs for splitting by sync/async #}
			{% set core = [] %}
			{% set electives = [] %}
			{% set other = [] %}
			{% for card in moduleData %}
				{% if card.module.core is same as(true) %}
					{% set core = core|merge([card]) %}
				{% elseif card.module.core is same as(false) %}
					{% set electives = electives|merge([card]) %}
				{% else %}
					{# If "core" is not set on the module explicitly we put in other #}
					{% set other = other|merge([card]) %}
				{% endif %}
			{% endfor %}
			{% if core %}
				<div class="container">
					<h5 id="modules">Core Modules</h5>
				</div>
				<div class="d-flex flex-wrap align-content-center pt-2">
					{% for card in core %}
						{% include 'generic-program-module-card-small.twig' %}
					{% endfor %}
				</div>
			{% endif %}
			{% if electives %}
				<div class="container">
					<h5>Electives</h5>
				</div>
				<div class="d-flex flex-wrap align-content-center pt-2">
					{% for card in electives %}
						{% include 'generic-program-module-card-small.twig' %}
					{% endfor %}
				</div>
			{% endif %}
			{% if other %}
				<div class="container">
					<h5 id="modules">Program Modules</h5>
				</div>
				<div class="d-flex flex-wrap align-content-center pt-2">
					{% for card in other %}
						{% include 'generic-program-module-card-small.twig' %}
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{# Large cards #}
		<div class="d-flex flex-wrap justify-content-center align-content-center pt-2">
			{% for card in moduleData %}
				{% include 'generic-program-module-card.twig' %}
			{% endfor %}
		</div>
	{% endif %}
</div>
<script>
	function filterSessions(e) {
		let allExpiredCards = document.querySelectorAll("div[data-has-sessions*='false']");
		let allSyncCards = document.querySelectorAll("div[data-has-sessions]");
		if (e.checked) {
			allExpiredCards.forEach(card => {
				card.classList.add('d-none');
				card.setAttribute('aria-hidden', 'true');
			});
			document.getElementById("sync-number").innerText = (allSyncCards.length - allExpiredCards.length);
		} else {
			allExpiredCards.forEach(card => {
				card.classList.remove('d-none');
				card.removeAttribute('aria-hidden');
			});
			document.getElementById("sync-number").innerText = allSyncCards.length;
		}
	}
</script>