{# LESSONS MENU #}
<div class="d-flex flex-column">
	{% for idx, lesson in module.lessons %}
		{% if lesson.sublesson == false %}
			<button class="btn btn-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapse-{{idx}}" aria-expanded="false" aria-controls="collapse-{{idx}}">
				{{lesson.title}}
			</button>
			<!-- Collapsed content -->
			<div class="collapse mt-3" id="collapse-{{idx}}">
				<p>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
				</p>
			</div>
		{% endif %}
	{% endfor %}
</div>
