{% apply inline_css %}
<style>
	.generic-video .landing-video {
		/* min-width: 45%; */
		padding: 20px 15px;
	}
	.generic-video .constraint-box {
		/* max-width: 800px; */
	}
	.generic-video .videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		margin-bottom: 1em;
	}
	.generic-video .videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>
{% endapply %}

{% set baseUrlWarpwire = 'https://udayton.warpwire.com' %}

<div class="generic-video d-flex flex-column landing-video justify-content-center">
	{% if video.warpwire %}
		<div class="constraint-box">
			<div class="videoWrapper">
				<iframe class="d-flex" src="{{baseUrlWarpwire}}/w/{{video.warpwire}}/?share=0&title=0" frameborder="0" scrolling="0" allow="autoplay; encrypted-media; fullscreen;  picture-in-picture;" allowfullscreen></iframe>
			</div>
		</div>
	{% endif %}
</div>
