{% apply inline_css %}
<!-- Intro settings -->
<style>
	/* Default height for small devices */
	#intro {
		height: 300px;
	}

	/* Height for devices larger than 992px */
	@media(min-width: 992px) {
		#intro {
			height: 400px;
		}
	}
	div.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		margin-bottom: 1em;
	}
	div.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	{% endapply %}
</style>
<div id="intro" class="p-2 text-center bg-image" style="background-image: url({{ splash.image ? contextRoot ~ splash.image : genericImg }});margin-top:-2rem;">
	<div class="mask" style="background: linear-gradient(45deg,rgba(29, 236, 197, 0.7),rgba(91, 14, 214, 0.7) 100%);">
		<div class="d-flex justify-content-center align-items-center h-100">
			<div class="text-white">
				<h1 class="mb-3">{{splash.title}}</h1>
				<p class="lead" style="max-width:84ch;text-shadow:0 0 5px #000;">{{splash.text}}</p>
				<p class="mb-4"><a class="btn btn-outline-white" href="#modules">View Modules</a></p>
				{# <p>
                    <a class="btn btn-white btn-lg" href="<?= addSession($CFG->apphome . '/programs') ?>">Get Started
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    </a>
                </p> #}
			</div>
		</div>
	</div>
</div>
<div id="container" class="container">
	<div class="row">
		<div class="welcome-box col-md-7">
			{% set contents = splash.contents %}
			{% include 'generic-contents.twig' %}
		</div>
		{% if splash.video %}
			<div class="video-container col-md-5 pt-5">
				<div class="videoWrapper">
					<iframe allowfullscreen src="{{splash.video}}" title="Promo Video"></iframe>
				</div>
			</div>
		{% endif %}
	</div>
</div>
