<ul
	class="navbar-nav">
	<!-- Dropdown -->
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="mega-menu" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
			Programs
		</a>
		<ul class="dropdown-menu" aria-labelledby="mega-menu">
			<div class="pt-2">
				<a class="dropdown-item" href="{{root}}">
					All Programs
				</a>
				<li><hr class="dropdown-divider"/></li>
			</div>
			{% for keyName, program in programs %}
				<li>
					<a class="dropdown-item" href="{{root}}{{keyName}}">
						{{program.displayLabel}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</li>
</ul>
